# ==============================================
# FLUTTER & DART
# ==============================================
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.generated/
.metadata

# ==============================================
# IDE / EDITOR
# ==============================================
.idea/
.vscode/
*.iml

# ==============================================
# SYSTEM FILES
# ==============================================
.DS_Store
Thumbs.db

# ==============================================
# LOGS / LOCK FILES
# ==============================================
*.log

# ==============================================
# BACKUPS / TEMP FILES
# ==============================================
*.tmp
*.bak
